html,body{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

tr:hover{
    cursor: pointer;
}

.hoverable-th:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 123, 255);
    color: rgb(0, 123, 255);
}

.border-content{
    border: 1px solid #e4e4e4;
    border-top: none;
}

.table-sticky {
    overflow-y: auto;
    max-height: 300px;
}

.table-sticky-small{
    overflow-y: scroll;
    max-height: 150px;
}

.table-sticky thead th, .table-sticky-small thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

.tab-content, .main-content{
    background-color: rgb(245, 245, 245);
}

.main-content{
    padding-bottom: 5%;
}

.phone-nav li, .key-access-nav li{
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    margin-left: 1%;
}

.key-access-nav li{
    display: inline;
}

.phone-nav li:hover, .key-access-nav li:hover{
    border-color: #007bff;
}

.possible-delete{
    background-color: #f8d7da;
}

.db-selection-btn{
    color: #333;
    text-decoration: none;
}

.db-selection-btn:hover{
    text-decoration: none;
    cursor: pointer;
}

.card:hover{
    background-color: rgb(247, 247, 247);
    transition: all .3s;
}

.card{
    transition: all .3s;
}

.main-title{
    padding: 5% 0;
}

.c{
    background-color: green;
}